<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.bg7yoz.ft8cn.diagnostics.SampleDecodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bg7yoz.ft8cn.ft4.DEBUG_DECODE_SAMPLE" />
                <action android:name="com.bg7yoz.ft8cn.action.DEBUG_SAMPLE_DECODE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
